<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - NexQuro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- 네비게이션 바 포함 -->
    <%- include('partials/header') %>

        <main>
            <section class="contact-card">

                <div class="card">
                    <h2>NexQuro</h2>
                    <p><strong>전화번호:</strong> +82 10 1234 5678</p>
                    <p><strong>이메일:</strong> contact@nexquro.com</p>
                    <p><strong>주소:</strong> 서울특별시 강남구 </p>
                </div>
            </section>
        </main>

        <!-- 푸터 포함 -->
        <%- include('partials/footer') %>
</body>

</html>